<div class="form-row">
    <table class="data-table">
        <thead>
            <tr>
                <th></th>
                <th>Opt A</th>
                <th>Opt B</th>
                <th>Opt C</th>
                <th>Opt D</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Death</td>
                <td>250,000</td>
                <td>500,000</td>
                <td>800,000</td>
            </tr>
            <tr>
                <td>Permanent total disability</td>
                <td>250,000</td>
                <td>500,000</td>
                <td>800,000</td>
            </tr>
            <tr>
                <td>Temporary total disability</td>
                <td>1,500</td>
                <td>5,000</td>
                <td>8,000</td>
            </tr>
        </tbody>
    </table>
</div>